{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}{% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}" type="text/css">
</head>
<body>
	
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Search model Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch"><i class="icon_close"></i></div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<div class="header__logo">
						<a href="{% url 'home' %}">
							<img src="{% static 'homepage/img/logo.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="header__nav">
						<nav class="header__menu mobile-menu">
							<ul>
								<li class="active"><a href="./index.html">Homepage</a></li>
								<li><a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
									<ul class="dropdown">
										<li><a href="./anime-details.html">Game Details</a></li>
										<li><a href="./anime-watching.html">Anime Watching</a></li>
										<li><a href="./blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li><a href="./blog.html">Our Blog</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="header__right">
						<a href="#" class="search-switch"><span class="icon_search"></span></a>
						{% if user.is_authenticated %}
							<a href="{% url 'profile' %}"><span class="icon_profile"></span></a>
						{% else %}
							<a href="{% url 'login' %}"><span class="icon_profile"></span></a>
						{% endif %}
					</div>
				</div>
			</div>
			<div id="mobile-menu-wrap"></div>
		</div>
	</header>
	<!-- Header End -->

    {% if orders.count > 0 %}
        <link rel="stylesheet" href="{% static 'cart/css/has.css' %}" />
        <main class="cart-wrapper">
          <h1 class="cart-title">My Cart</h1>
          <div class="cart-content">
            <!-- LEFT: Cart Item -->
            <div class="cart-left">
                {% for order in orders %}
                    <div class="cart-item">
						<img src="{{ order.game.image.url }}" class="item-image" alt="Game Image" />
						<div class="item-details">
							<div class="item-header">
								<span class="badge">Base Game</span>
								<!-- <span class="badge purple">DELUXE EDITION</span> -->
							</div>
							<h2 class="item-name">{{ order.game.name }}</h2>
							<div class="item-meta">
								{% if order.game.discount > 0 %}
									<span class="discount">-{{ order.game.discount }}%</span>
									<span class="original-price">${{ order.game.price }}</span>
								{% endif %}
								<span class="final-price">${{ order.game.discounted_price|floatformat:2 }}</span>
							</div>
							<p class="desc line-clamp">{{ order.game.description }}</p>
							{% if order.game.discount > 0 %}
								<p class="sale-end">Sale ends 4/24/2025 at 10:00 PM</p>
							{% endif %}
							<div class="item-actions">
								<form action="{% url 'cart-delete' order.pk %}" method="POST">
									{% csrf_token %}
									<button type="submit">Remove</button>
								</form>
								<a href="#">Move to wishlist</a>
							</div>
						</div>
                    </div>
                {% endfor %}
            </div>
            <!-- RIGHT: Summary -->
            <div class="cart-right">
                <h3>Games and Apps Summary</h3>
                <div class="summary-line">
                <span>Price</span>
                <span>${{ total_price }}</span>
                </div>
                <div class="summary-line">
                <span>Sale Discount</span>
                <span>-${{ discount|floatformat:2 }}</span>
                </div>
                <div class="summary-line">
                <span>Taxes</span>
                <span>Calculated at Checkout</span>
                </div>
                <div class="summary-line total">
                <span>Subtotal</span>
                <span>${{ total_discounted_price|floatformat:2 }}</span>
                </div>
                <button class="checkout-btn">Check Out</button>
            </div>
          </div>
        </main>
    {% else %}
        <link rel="stylesheet" href="{% static 'cart/css/none.css' %}" />
        <main class="cart-container">
            <h1>My Cart</h1>
            <div class="empty-cart">
            <div class="empty-icon">😕</div>
            <p class="empty-text">Your cart is empty.</p>
            <a href="#" class="shop-btn">Shop for Games & Apps</a>
            </div>
        </main>
    {% endif %}
	
	<footer class="footer-note">
		The lowest price offered on The Epic Games Store in the last 30 days before discount
	</footer>

	<script src="{% static 'homepage/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'homepage/js/player.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'homepage/js/mixitup.min.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.slicknav.js' %}"></script>
	<script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'homepage/js/main.js' %}"></script>
</body>	
</html>