{% extends "homepage/base.html" %}
{% load static %}


{% block extra_css %}
	<link rel="stylesheet" href="{% static 'cart/css/has.css' %}" />
	<link rel="stylesheet" href="{% static 'cart/css/none.css' %}" />
{% endblock %}

{% block content %}
    {% if orders.count > 0 %}
        <main class="cart-wrapper">
          <h1 class="cart-title">My Cart</h1>
          <div class="cart-content">
            <!-- LEFT: Cart Item -->
            <div class="cart-left">
                {% for order in orders %}
                    <div class="cart-item">
						<img src="{{ order.game.image.url }}" class="item-image" alt="Game Image" />
						<div class="item-details">
							<div class="item-header">
								<span class="badge">Base Game</span>
								<!-- <span class="badge purple">DELUXE EDITION</span> -->
							</div>
							<h2 class="item-name">{{ order.game.name }}</h2>
							<div class="item-meta">
								{% if order.game.discount > 0 %}
									<span class="discount">-{{ order.game.discount }}%</span>
									<span class="original-price">${{ order.game.price }}</span>
								{% endif %}
								<span class="final-price">${{ order.game.discounted_price|floatformat:2 }}</span>
							</div>
							<p class="desc line-clamp">{{ order.game.description }}</p>
							{% if order.game.discount > 0 %}
								<p class="sale-end">Sale ends 4/24/2025 at 10:00 PM</p>
							{% endif %}
							<div class="item-actions">
								<form action="{% url 'cart-delete' order.pk %}" method="POST">
									{% csrf_token %}
									<button type="submit">Remove</button>
								</form>
								<a href="#">Move to wishlist</a>
							</div>
						</div>
                    </div>
                {% endfor %}
            </div>
            <!-- RIGHT: Summary -->
            <div class="cart-right">
                <h3>Games and Apps Summary</h3>
                <div class="summary-line">
                <span>Price</span>
                <span>${{ total_price }}</span>
                </div>
                <div class="summary-line">
                <span>Sale Discount</span>
                <span>-${{ discount|floatformat:2 }}</span>
                </div>
                <div class="summary-line">
                <span>Taxes</span>
                <span>Calculated at Checkout</span>
                </div>
                <div class="summary-line total">
                <span>Subtotal</span>
                <span>${{ total_discounted_price|floatformat:2 }}</span>
                </div>
                <form action="" method="POST">
					{% csrf_token %}
					<button id="checkout-btn" class="checkout-btn">Check Out</button>
				</form>
            </div>
          </div>
        </main>
    {% else %}
        <main class="cart-container">
            <h1>My Cart</h1>
            <div class="empty-cart">
            <div class="empty-icon">😕</div>
            <p class="empty-text">Your cart is empty.</p>
            <a href="#" class="shop-btn">Shop for Games & Apps</a>
            </div>
        </main>
    {% endif %}

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');
        document.getElementById('checkout-btn').addEventListener('click', function(event) {
			event.preventDefault();
            fetch("{% url 'create_checkout_session' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert('Error: ' + data.error);
                } else {
                    stripe.redirectToCheckout({ sessionId: data.id });
                }
            });
        });
    </script>
{% endblock %}
