{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You - Epic Games</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <!-- Liên kết tới file CSS -->
  <link rel="stylesheet" href="{% static 'cart/css/success.css' %}">
</head>
<body>
  <div class="container">
    <div class="logo">
      <div class="epic">EPIC</div>
      <div class="games">GAMES</div>
    </div>
    <h1>Thank you!</h1>
    <p class="bold-text">An email receipt has been sent to you.</p>
    <p class="single-line">Please do not close the window until we confirm that your purchase is complete.</p>
  </div>
</body>
</html>
