{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Game Art">
    <meta name="keywords" content="Game, Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% block title %}{% endblock %}

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'homepage/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'homepage/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'homepage/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'homepage/favicon//site.webmanifest' %}">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/plyr.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'homepage/css/search.css' %}">
	<link rel="stylesheet" href="{% static 'homepage/css/notification.css' %}">

	<script>
		const user_pk = "{{ user.pk }}";
	</script>

	{% block extra_css %}{% endblock %}

	<style>
		.header__logo {
			padding: 0;
		}

		.header__logo img {
			height: 50px;
		}
	</style>
</head>
<body>
	
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Search model Begin -->
	<div class="search-model">
		<div style="margin-top: 100px; display:flex; flex-direction: column;" class="h-100 d-flex align-items-center">
			<button type="button" class="search-close-switch"><i class="icon_close"></i></button>
			<form action="" class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
			<div class="search-list-section d-flex justify-content-center"></div>
		</div>
	</div>	
	<!-- Search model end -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div style="display: flex; align-items: center;" class="col-lg-2">
					<div class="header__logo">
						<a href="{% url 'home' %}">
							<img src="{% static 'homepage/img/logo.png' %}" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="header__nav">
						<nav class="header__menu mobile-menu">
							<ul>
								<li><a href="{% url 'game-list' %}">Browse</a></li>
								<li><a href="#!">Streaming <span class="arrow_carrot-down"></span></a>
									<ul class="dropdown">
										<li><a href="{% url 'create_stream' %}">Streaming</a></li>
										<li><a href="https://www.gamepix.com">Games</a></li>
										<li><a href="{% url 'embed_spotify' %}">Musics</a></li>
									</ul>
								</li>
								<li><a href="#!">Categories <span class="arrow_carrot-down"></span></a>
									<ul class="dropdown" id="categoryDropdown">
									</ul>
								</li>
								<li><a href="{% url 'posts' %}">Our Blog</a></li>
							{% if request.session.uid %}
								<li><a href="{% url 'profile' %}">Profile</a></li>
							{% endif %}
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="header__right">
						<a style="{% if user.is_authenticated %}margin-right: 30px;{% endif %}" href="#" class="search-switch"><span class="icon_search"></span></a>

						{% if request.session.uid %}
							<!-- <a class="wishlist" style="display: inline-block;" href="{% url 'profile' %}">
								<i class="fa-solid fa-heart"></i>
								<span class="wishlist-badge">0</span>
							</a> -->
							<a class="cart" style="display: inline-block;" href="{% url 'cart' %}">
								<i class="fa-solid fa-cart-plus"></i>
								<span class="cart-badge">0</span>
							</a>
							<a class="notification" style="display: inline-block;" href="#!">
								<i class="fa-solid fa-bell"></i>
								<span class="notification-badge">0</span>
							</a>

							<div class="notification-dropdown">
								<div class="notification-header">
								  <h3>Notifications</h3>
								</div>
								<div class="notification-body">

								  <div class="notification-item">
									<div class="notification-item-content">
									</div>
								  </div>
								  
								</div>
								<div class="notification-footer">
								  <button>Mark all as read</button>
								</div>
							  </div>
						{% endif %}

						{% if request.session.uid %}
							<a href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
						{% else %}
							<a href="{% url 'login' %}"><span class="icon_profile"></span></a>
						{% endif %}
					</div>
				</div>
			</div>
			<div id="mobile-menu-wrap"></div>
		</div>
	</header>
	<!-- Header End -->

	{% block content %}{% endblock %}


	<footer>
        <div class="footer-content">
            <div class="footer-logo">
                <h2>GAME<span>ART</span></h2>
                <p>Your ultimate gaming destination</p>
            </div>
            <div class="footer-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="review.html">Reviews</a></li>
                    <li><a href="{% url 'posts' %}">Blog</a></li>
                    <li><a href="#">Guides</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="footer-categories">
                <h3>Categories</h3>
                <ul>
                    <li><a href="#">PC Gaming</a></li>
                    <li><a href="#">PlayStation</a></li>
                    <li><a href="#">Xbox</a></li>
                    <li><a href="#">Nintendo</a></li>
                    <li><a href="#">Mobile Gaming</a></li>
                    <li><a href="#">Esports</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <h3>Follow Us</h3>
                <div class="social-icons">
                    <a href="https://www.facebook.com/profile.php?id=100027733654960&mibextid=LQQJ4d"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100027733654960&mibextid=LQQJ4d"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100027733654960&mibextid=LQQJ4d"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 GameArt. All rights reserved.</p>
        </div>
    </footer>

	<script src="{% static 'homepage/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'homepage/js/player.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'homepage/js/mixitup.min.js' %}"></script>
	<script src="{% static 'homepage/js/jquery.slicknav.js' %}"></script>
	<script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'homepage/js/main.js' %}"></script>
	<script src="{% static 'homepage/js/notification.js' %}"></script>


	<script>
		function updateCartCount(quantity) {
			const cartBadge = document.querySelector('.cart-badge');
			
			if (quantity) {
				cartBadge.textContent = quantity;
			} else {
				fetch(`/api/cart/count/${user_pk}/`)
					.then(response => response.json())
					.then(data => {
						cartBadge.textContent = data.order_count;
					})
					.catch(error => {
						console.error('Error fetching cart count:', error);
					});
			}
		}
		//function updateWishlistCount() {
		//	const wishlistBadge = document.querySelector('.wishlist-badge');
		//	fetch(`/api/wishlist/count/${user_pk}/`)
		//		.then(response => response.json())
		//		.then(data => {
		//			wishlistBadge.textContent = data.wishlist_count;
		//		})
		//		.catch(error => {
		//			console.error('Error fetching cart count:', error);
		//		});
		//}
		if (user_pk && user_pk !== "None") {
			window.addEventListener('DOMContentLoaded', () => updateCartCount());
		//	window.addEventListener('DOMContentLoaded', () => updateWishlistCount());
		}
	</script>

	<!-- search engine  -->
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const input = document.getElementById('search-input');
			const resultSection = document.querySelector('.search-list-section');
			const closeButton = document.querySelector('.search-close-switch');
		
			let debounceTimeout = null;
		
			input.addEventListener('input', function () {
				const query = input.value.trim();
		
				clearTimeout(debounceTimeout);
		
				if (query.length === 0) {
					resultSection.innerHTML = '';
					return;
				}
		
				debounceTimeout = setTimeout(() => {
					fetch(`/api/search/games/?query=${encodeURIComponent(query)}`)
						.then(res => res.json())
						.then(data => {
							if (!data.items || data.items.length === 0) {
								resultSection.innerHTML = `
									<div class="no-result search-list">
										<p>No results found.</p>
									</div>
								`;
								return;
							}	
							const itemsHTML = `
								<div class="search-list">
									${data.items.map(item => {
										const url = item.type === 'dlc'
											? `/game-details/dlc/${item.id}/`
											: `/game-details/${item.id}/`;
										return `
											<a href="${url}" class="search-item">
												<img src="${item.image}" alt="${item.name}" class="item-img">
												<div class="item-info">
													<p class="item-name line-clamp">${item.name}</p>
													<small class="text-muted d-block">
														${item.categories.map(c => c.name).join(', ')}
													</small>
													<span class="item-price">$${item.discounted_price}</span>
												</div>
											</a>
										`;
									}).join('')}
								</div>
							`;

		
							resultSection.innerHTML = itemsHTML;
						})
						.catch(err => {
							console.error('Search error:', err);
							resultSection.innerHTML = `
								<div class="search-list text-center">
									<p>Error loading results.</p>
								</div>
							`;
						});
				}, 300);
			});
		
			closeButton.addEventListener('click', function () {
				clearTimeout(debounceTimeout);
				input.value = '';
				resultSection.innerHTML = '';
			});
		});
		
	</script>
	
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			fetch('/api/category/')
				.then(response => response.json())
				.then(data => {
					if (data.success) {
						const dropdown = document.getElementById('categoryDropdown');
						dropdown.innerHTML = '';
						
						data.categories.forEach(category => {
							const li = document.createElement('li');
							const a = document.createElement('a');
							a.href = `/category-list/${category.slug}/`;
							a.textContent = category.name;
							li.appendChild(a);
							dropdown.appendChild(li);
						});
					}
				})
				.catch(error => {
					console.error('Error loading categories:', error);
				});
		});		
	</script>
	<script type="text/javascript">
		window.$crisp = [];
		window.CRISP_WEBSITE_ID = "11aa2c09-9aca-4c8e-8a0a-c7f00450fb76";
		(function() {
		  var d = document;
		  var s = d.createElement("script");
		  s.src = "https://client.crisp.chat/l.js";
		  s.async = 1;
		  d.getElementsByTagName("head")[0].appendChild(s);
		})();
	</script>

	{% block extra_js %}{% endblock %}
</body>	
</html>