{% extends "homepage/base.html" %}
{% load static %}

{% block title %}
    <title>Game Detail</title>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'games/css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'games/css/game_score.css' %}">

    <style>
        input[type="number"].no-arrows::-webkit-outer-spin-button,
        input[type="number"].no-arrows::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"].no-arrows {
            -moz-appearance: textfield;
        }

        input[type='number'] {
            width: 100px;
            border-radius: 5px;
            border: none;
            padding-left: 20px;
        }

        .form-row {
            gap: 25px;
            margin: 0;
        }

        .form-left {
            flex: 2;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg="{{ object.image.url }}">
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3 style="margin-bottom: 0;">{{ game.name }}</h3>
                                {% if object.average_score %}
                                    <div class="game-avg-score">
                                        <span>{{ object.average_score }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <p>{{ game.description }}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Publisher:</span> {{ object.publisher|upper }}</li>
                                            <li><span>Date released:</span> {{ object.release_date|date:"F j, Y"|upper }}</li>
                                            <li id="game-status-li"><span id="game-status">Status:</span> Loading...</li>
                                            <li><span>Genre:</span>
                                                {% if object.status == 'base' %}
                                                    {% for category in object.categories.all %}
                                                        {{ category.name|upper }} 
                                                        {% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    {% for category in object.categories.all %}
                                                        {{ category.name|upper }} 
                                                        {% if not forloop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </li>                                            
                                            <li><span>Rating:</span> {{ object.rating|upper }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <button class="media-btn" onclick="openGallery()">
                                    <i class="fa-solid fa-images"></i>
                                    <span>Gallery</span>
                                </button>
                            </div>
                            {% if request.session.uid %}
                                <div class="anime__details__btn">
                                    <a href="#" class="follow-btn">
                                        <i class="fa-solid fa-square-plus"></i> Move to wishlist
                                    </a>
                                    <a href="#" class="watch-btn" data-game-id="{{ object.id }}">
                                        <span> Loading...</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div style="margin-top: 50px;" class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime__details__review">
                            <div class="section-title">
                                <h5>Reviews</h5>
                            </div>
                            {% for comment in comments_page %}
                                <div class="anime__review__item">
                                    <div class="anime__review__item__pic">
                                        <img style="object-fit: cover;" src="{{ comment.user.image.url }}" alt="">
                                    </div>
                                    <div class="anime__review__item__text">
                                        <div style="display: flex;align-items:center; gap: 10px;" class="comment-info">
                                            <h6>{{ comment.user }}</h6>
                                            <span style="color: #b7b7b7; margin-bottom: 10px; font-size: 14px;">{{ comment.created_at|date:"d/m/Y" }}</span>
                                            <span style="color: #b7b7b7; margin-bottom: 10px; font-size: 14px;">Rate: {{ comment.comment_rating.score }}</span>
                                        </div>
                                        <p>{{ comment.content }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if comments_page.paginator.num_pages > 1 %}
                                <div class="pagination">
                                    {% if comments_page.has_previous %}
                                        <a href="?page={{ comments_page.previous_page_number }}">Previous</a>
                                    {% endif %}
                                
                                    <span>Page {{ comments_page.number }} of {{ comments_page.paginator.num_pages }}</span>
                                
                                    {% if comments_page.has_next %}
                                        <a href="?page={{ comments_page.next_page_number }}">Next</a>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                        {% if request.session.uid %}
                            <div class="anime__details__form">
                                <div class="section-title">
                                    <h5>Your Comment</h5>
                                </div>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div style="display: flex; align-items: flex-start;" class="form-row">
                                        <div class="form-left">
                                            <label for="{{ comment_form.title.id_for_label }}" style="color: #fff; display: block;">Title</label>
                                            {{ comment_form.title }}
                                        </div>
                                        <div class="form-right">
                                            <label for="{{ scoring_form.score.id_for_label }}" style="color: #fff; display: block;">Score</label>
                                            {{ scoring_form.score }}
                                        </div>
                                    </div>
                                    <label for="{{ comment_form.content.id_for_label }}" style="color: #fff; display: block;" for="content">Content</label>
                                    {{ comment_form.content }}
                                    <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>{{ items.title }}</h5>
                            </div>
                            <div class="suggest-item">
                                {% for game in items.games %}
                                    {% if game.status == 'base' %}
                                        {% url 'base-game-details' game.pk as game_url %}
                                    {% else %}
                                        {% url 'dlc-game-details' game.pk as game_url %}
                                    {% endif %}
                                    <a href="{{ game_url }}">
                                        <div style="height: 150px;" class="product__sidebar__view__item set-bg" data-setbg="{{ game.image.url }}"></div>
                                        <h5 class="suggest-name">{{ game.name|upper }}</h5>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->

    <!-- Gallery Modal -->
    <div id="galleryModal" class="gallery-modal">
        <span class="close-btn" onclick="closeGallery()">&times;</span>
        <div class="gallery-content">
            <div class="iframe-wrapper">
                <div id="galleryContainer" style="width: 100%; height: 400px; overflow: hidden;"></div>
            </div>
            <div class="gallery-items-container">
                <button class="nav-btn prev-btn">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <div class="gallery-items">
                    <!-- button -->
                </div>
                <button class="nav-btn next-btn">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        const game_pk = "{{ object.pk }}";
        const gameType = "{{ object.status }}"
        const in_wishlist = "{{ in_wishlist }}"

        let api_gallery_url = null
        let api_key_count_url = null
        let api_add_to_cart = null

        if (gameType === 'base') {
            api_gallery_url = `/api/game/${game_pk}/media/review/`
            api_key_count_url = `/api/get_game_key_available_count/${game_pk}/`;
            api_add_to_cart = `/api/cart/game/add/${user_pk}/${game_pk}/`
        } else {
            api_gallery_url = `/api/game/dlc/${game_pk}/media/review/`
            api_key_count_url = `/api/get_dlc_key_available_count/${game_pk}/`;
            api_add_to_cart = `/api/cart/dlc/add/${user_pk}/${game_pk}/`
        }

        const liElement = document.getElementById('game-status-li');

        // api get total available keys
        function getKeyCount() {
            fetch(api_key_count_url)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const keyCount = data.key_available_count;
        
                        document.querySelectorAll('.watch-btn').forEach(btn => {
                            btn.classList.remove('loading');
                            if (keyCount > 0) {
                                btn.classList.remove('disabled');
                                btn.querySelector('span').innerHTML = '<i class="fa-solid fa-cart-plus"></i> Add to cart'
                            } else {
                                btn.classList.add('disabled');
                                btn.querySelector('span').innerHTML = '<i class="fa-solid fa-arrow-trend-down"></i> Stock out';
                            }
                        });

                        if (keyCount > 0) {
                            liElement.innerHTML = `<span id="game-status">Status</span> AVAILABLE`;
                        } else {
                            liElement.innerHTML = `<span id="game-status">Status</span> STOCK OUT`;
                        }
                    } else {
                        console.error('Failed to fetch key count');
                    }
                })
                .catch(error => {
                    console.error('Error fetching key count:', error);
                });
        }
        
        document.addEventListener('DOMContentLoaded', function () {
            getKeyCount();

            
            // Set initial button state
            document.querySelectorAll('.watch-btn').forEach(btn => {
                btn.classList.remove('loading');
                btn.classList.remove('disabled');
                btn.querySelector('span').innerHTML = '<i class="fa-solid fa-cart-plus"></i> Add to cart'
            });

            const wishlistBtn = document.querySelector('.follow-btn');

            if (in_wishlist === 'True') {
                wishlistBtn.classList.add('disabled')
            } else {
                wishlistBtn.addEventListener('click', function (e) {
                    e.preventDefault();

                    fetch('/api/add-to-wishlist/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: JSON.stringify({
                            type: gameType,
                            id: game_pk
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            wishlistBtn.classList.add('disabled');
                            // updateWishlistCount();
                        }
                    });
                });
            }

            // Add event listener to each "watch-btn"
            document.querySelectorAll('.watch-btn').forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    
                    const btn = this;
        
                    btn.classList.add('loading');
                    btn.classList.add('disabled');
                    btn.querySelector('span').textContent = 'Adding...';
        
                    fetch(api_add_to_cart, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded',
                            'X-CSRFToken': getCookie('csrftoken')
                        },
                        body: new URLSearchParams({
                            'game_id': game_pk,
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            updateCartCount(data.order_count);
                            
                            // update add to cart btn
                            if (data.key_remain > 0) {
                                btn.classList.remove('loading');
                                btn.classList.remove('disabled')
                                btn.querySelector('span').innerHTML = '<i class="fa-solid fa-cart-plus"></i> Add to cart'
                                liElement.innerHTML = `<span id="game-status">Status</span> AVAILABLE`;
                            } else {
                                btn.classList.remove('loading');
                                btn.classList.add('disabled');
                                btn.querySelector('span').innerHTML = '<i class="fa-solid fa-arrow-trend-down"></i> Stock out';
                                liElement.innerHTML = `<span id="game-status">Status</span> STOCK OUT`;
                            }
                            // Send interaction when "Add to cart" is clicked
                            sendInteractions(user_pk, [{
                                item_id: game_pk,
                                event_type: 'like',
                                timestamp: Math.floor(Date.now() / 1000)
                            }]);
                        } else {
                            btn.classList.remove('loading');
                            btn.classList.add('disabled');
                            btn.querySelector('span').innerHTML = '<i class="fa-solid fa-arrow-trend-down"></i> Stock out';
                            liElement.innerHTML = `<span id="game-status">Status</span> STOCK OUT`;
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        btn.classList.remove('loading');
                        btn.classList.remove('disabled');
                        btn.querySelector('span').textContent = 'Error';
                    });
                });
            });
        });
    </script>
    <script src="{% static 'games/js/gallery.js' %}"></script>
{% endblock %}