.product__item {
    position: relative;
}

.rating-section {
    position: absolute;
    z-index: 100;
    top: -18px;
    right: -40px;
    width: 100px;
    height: 100px;
    overflow: visible;
}

.rating-wrapper {
    width: 100%;
    height: 100%;
}

.rating-section i {
    display: block;
    font-size: 60px;
    color: #ff6874;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.rating-section .score-text {
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    color: #fff;
}